/* adding style to all styles using * tag */
* {
  margin: 0px;
  padding: 0px;
}

.city1 {
  padding: 2%;
  margin-left: 1%;
  background-color: lightblue;
}
.wrapper {
  margin-left: 10%;
  width: 100%;
  height: auto;
}

/* entering CSS info for these tags */
#cityWeather {
  padding: 20px;
  margin-top: 5%;
  margin left: 10%;
}

#projectedForecast {
  padding: 5px;
  margin-top: 10%;
  margin-left: 20%;
}

li {
  border: 10px lightblue;
}
